#visualisation {
    height: 276px;
    width: auto;
    position: relative;
    margin: 0 0 0 20px;
    background: url(../img/scale.png) bottom right no-repeat;

    .category {
        position: absolute;
        bottom: 0;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        .bar {
            position: absolute;
            bottom: 0;
            width: 100%;
            .transition(height .6s ease);

            &.average {
                background-image: url(../img/overlay-dots.png);
            }

            &.federal {
                background-image: url(../img/overlay-lines.png);
            }
        }
    }
}

#bar-categories {
    height: 78px;
    padding-top: 2px;
    margin: 0 0 0 10px;

    .category {
        position: relative;
        height: 66px;
        width: 13%;
        float: left;
        margin-right: 3.5%;
        text-align: center;
        font-size: .85em;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.0;
        padding: 54px 0 0 0;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            .opacity(80);
            cursor: pointer;
            .transition(opacity 150ms ease-in-out);
        }

        &.active:after {
            content: "";
            position: absolute;
            display: block;
            width: 24px;
            height: 14px;
            background: url(http://localhost:5000/less/../img/more-info-arrow.png) 0 0 no-repeat;
            bottom: 26px;
            left: 36%;
        }
    }

    .category.defence {
        background: url(../img/defence.svg) center 10px no-repeat;
        background-size: 60px;
        color: @defence;
    }

    .category.publicEducation {
        background: url(../img/pub-ed.svg) center 10px no-repeat;
        background-size: 59px;
        color: @pubEd;
    }

    .category.privateEducation {
        background: url(../img/priv-ed.svg) center 9px no-repeat;
        background-size: 62px;
        color: @privEd;
    }

    .category.immigration {
        background: url(../img/immigration.svg) center 4px no-repeat;
        background-size: 46px;
        color: @immigration;
    }

    .category.foreignAid {
        background: url(../img/aid.svg) center 6px no-repeat;
        background-size: 40px;
        color: @aid;
    }

    .category.industryAssistance {
        background: url(../img/industry.svg) center 8px no-repeat;
        background-size: 40px;
        color: @industry;
    }
}

// PNG Fallback

.no-svg {

    .category.defence {
        background-image: url(../img/defence.png);
    }

    .category.publicEducation {
        background-image: url(../img/pub-ed.png);
    }

    .category.privateEducation {
        background-image: url(../img/priv-ed.png);
    }

    .category.immigration {
        background-image: url(../img/immigration.png);
    }

    .category.foreignAid {
        background-image: url(../img/aid.png);
    }

    .category.industryAssistance {
        background-image: url(../img/industry.png);
    }
}