#visualisation {
    height: 350px;
    border: 1px solid #333;
    position: relative;

    .category {
        position: absolute;
        bottom: 0;

        &:first-child {
            margin-left: 0;
        }


        .bar {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}