html, body {
    background-color: #f2f2f2;
}

header.navbar {
    height: 40px;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}

#main {
    @appWidth: 980px;
    @columnRatio: 0.33;
    height: 630px;
    width: @appWidth;
    padding: 23px;
    background-color: @white;

    #left-column {
        float: left;
        width: @appWidth * @columnRatio;
        position: relative;

        .nav-tabs {
            margin-bottom: 0;

            li {
                width: 50%;
                border-bottom: none;

                a {
                    .ui-title;
                    font-size: 110%;
                    line-height: 100%;
                    text-align: center;
                    .border-radius(0px);
                    color: lighten(@textColor, 40%);
                    background-color: #eee;
                    position: relative;
                    top: 1px;
                    border-top: none;
                    margin-right: 0;
                }

                &:last-child {
                    .pull-right;
                }

                .border-top {
                    background-color: @white;
                    height: 3px;
                    clear: both;
                    position: relative;
                    top: 1px;
                }
            }

            li.active {
                a {
                    .opacity(100);
                    color: @textColor;
                    background-color: #fff;
                }

                .border-top {
                    background-color: @blue;
                }
            }
        }

        .tab-content {
            padding: 5px 15px;
            height: 544px;
            border: 1px solid #ddd;
            border-top-color: transparent;
            position: relative;
            // force all content up so there's no gaps in the side borders
            top: -1px;
        }
    }

    #right-column {
        float: right;
        width: (@appWidth * (1 - @columnRatio)) - 20px;
    }
}

.ui-title {
    font-weight: bold;
    text-transform: uppercase;
    font-family: @baseFontFamily;
}

.help-block {
    margin-bottom: 0;
}

.control-label {
    .ui-title;
    font-size: 90%;

    em {
        font-weight: normal;
    }

    .help-block {
        font-weight: normal;
        text-transform: none;
        font-size: 100%;
        color: @grayish;
        margin-bottom: 3px;
    }
}