#budget-allocator-tab {
    position: relative;

    .sidepane {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

#budget-allocator {
    .category {
        padding: 5px;
        border: @grayLight 1px solid;
        .border-radius(5px);
        margin-bottom: 5px;
        position: relative;

        .top {
            height: 30px;
        }

        .top, .slider {
            position: relative;
        }

        .slider {
            margin-top: 5px;
            height: 15px;

            .slider-control {
                width: 250px;
                margin: 0 auto;
            }
        }

        .title {
            position: absolute;
            left: 0;
            top: 6px;
        }

        .spent-box {
            position: absolute;
            right: 30px;

            .amount {
                width: 25px;
                text-align: center;
            }
        }

        .info-icon {
            position: absolute;
            right: 5px;
            top: 6px;
        }

        .federal-allocation {
            @background-color: @gray;
            position: relative;
            height: 15px;
            background-color: @background-color;
            color: @grayLighter;
            .border-radius(5px);
            padding: 1px 4px 3px;
            display: inline-block;
            font-size: 12px;
            top: 1px;

            .arrow {
                .triangle-up(6px, @background-color);
                position: absolute;
                top: -5px;
                left: 50%;
                margin-left: -3px;
            }
        }
    }

    .defense .federal-allocation {
        left: 120px;
    }
}

#budget-overview {
    position: relative;

    .top {
        .clearfix;
        margin-bottom: 2px;

        .title {
            width: 50%;
            float: left;
            text-transform: uppercase;
            font-size: 90%;
        }

        .spent {
            width: 50%;
            float: right;
            text-align: right;
        }
    }

    .progress-bar {
        margin-bottom: 8px;

        .progress {
            margin-bottom: 0;
        }
    }

}

#save-budget-pane {
    .your-name-wrapper {
        input {
            width: 183px;
            .pull-left;
        }

        select {
            width: 75px;
            .pull-right;
        }
    }
}