.btn-inverse {
    .buttonBackground(@btnInverseBackground, @btnInverseBackground, @btnInverseColor);
    border: 1px solid @btnInverseColor;
    box-shadow: none;
    text-shadow: none;
}

.btn {
    font-size: .95em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3% 5%;

    &:hover,
    &:active,
    &:focus
     {
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
}

.btn-primary {
    text-shadow: none;
    background: #333;
    border:none;

    &:hover,
    &:active,
    &:focus
     {
        background-color: black;
    }
}

.btn-link {
    color: #858585;
    .border-radius(4px);

    &:hover{
        color: #333;
        background-color: @grayLighter;
        text-decoration: none;
    }
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse:focus {
    background: @grayLighter;
}