header.navbar {
    height: 40px;
    margin-bottom: 10px;
}

#main {
    height: 600px;
    width: 940px;
    margin: 5px auto;
}

#left-column {
    float: left;
    width: 360px;
}

#right-column {
    float: right;
    width: 560px;
}