#more-info {
	border-top: 1px solid #d6d6d6;
    height: 110px;
	margin-top: 2.5%;
	padding: 2.5% 1%;
    .clearfix;
    position: relative;

    h2 {
	    font-size: 18px;
	    margin: 0 0 2%;
		line-height: 0;
        font-weight: normal;
    }

    p {
		font-family: @serifRegFontFamily;
		font-size: 1.2em;
		margin: 0 0 2%;
    }

    .list {
    	float: left;
    	width: 70%;
    	border-right: 1px solid #d6d6d6;
    	padding-right: 15px;

    	ul {
    		margin: 0 0 10px 17px;

	    	li {
	    		list-style-position: outside;
	    		list-style-type: square;
	    		font-family: @serifRegFontFamily;
	    		line-height: 1.1;
				font-size: 110%;
				margin-bottom: 3px;
	    	}
        }
    }

    .number {
    	float: left;
    	width: 25%;
    	font-weight: bold;
    	text-transform: uppercase;
    	line-height: 1;
    	text-align: center;
    	padding-left: 10px;
        border-left: 1px solid #d6d6d6;
        padding-bottom: 60px;

    	.total {
    		font-size: 300%;
    	}
    }

    .defence .number { color: @defence; }
    .publicEducation .number { color: @pubEd; }
    .privateEducation .number { color: @privEd; }
    .immigration .number { color: @immigration; }
    .foreignAid .number { color: @aid; }
    .industryAssistance .number { color: @industry; }

    .read-more {
        position: absolute;
        bottom: 0;
        left: 1%;
		font-size: .8em;
		font-weight: bold;
		text-transform: uppercase;
		color: @grayDark;
		border: 1px solid #d6d6d6;
		padding: 1% 2%;
		.border-radius(4px);

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			background-color: @grayLighter;
	    }
    }

    .read-more.view-graph {
        right: 29px;
        width: 80px;
        text-align: center;
        left: auto;
    }
}