#other-budgets-pane {
    overflow: hidden;

    h3 {
        .ui-title;
        font-size: 13px;
    }

    hr {
        margin-bottom: 0;
        border-bottom: none;
        width: 321px;
        margin-left: -20px;
    }

    .color-bar {
        float: left;
        width: 168px;
        height: 30px;

        div:first-child {
            .border-left-radius(4px);
        }

        div:last-child {
            .border-right-radius(4px);
        }

        .defence {
            background-color: @defence;
        }

        .publicEducation {
            background-color: @pubEd;
        }

        .privateEducation {
            background-color: @privEd;
        }

        .immigration {
            background-color: @immigration;
        }

        .foreignAid {
            background-color: @aid;
        }

        .industryAssistance {
            background-color: @industry;
        }
    }

    .your-budget .btn-inverse {
        font-size: .8em;
        padding: 5px 25px;
        margin-left: 12px;
    }

    .other-budgets {
        background: url(../img/lhc_fade.png) center top no-repeat;
        padding-top: 15px;
        max-height: 362px;
        overflow-y: scroll;

        .loading-more {
            text-align: center;
            padding: 0 0 5%;
            color: #999;

            &.full {
                display: none;
            }
        }
    }

    .other-budget {
        border: #E7E7E7 1px solid;
        border-bottom: none;
        padding: 2% 4% 4%;

        &:first-child {
            .border-top-radius(8px);
        }

        &:last-child {
            border-bottom: #E7E7E7 1px solid;
            .border-bottom-radius(8px);
            .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
        }

        .name {
            .control-label;
            font-size: 1.1em;
        }

        .state, time {
            font-size: 0.8em;
            color: @gray;
        }

        time {
            float: right;
            margin-top: 6px;
        }

        .btn-primary {
            font-size: 0.8em;
            background-image: url(../img/ico-share.png);
            background-repeat: no-repeat;
            background-position: 7px 7px;
            padding: 6px 10px 6px 27px;
            margin-left: 12px;
        }
    }
}

