#other-budgets-pane {
    h3 {
        .ui-title;
        font-size: 13px;
    }

    .other-budgets {
        max-height: 390px;
        overflow: scroll;
    }

    .other-budget {
        .color-bar {
            width: 146px;
            height: 28px;
            .border-radius(4px);
            border: 1px solid @grayLight;
        }
    }
}