@media only screen and (min-width : 1060px) {
    body {
        background-color: #f2f2f2;
    }
    #main {
        height: 570px;
    }
}

@media only screen and (min-width : 1260px) and (min-height: 805px) {
    @appWidth: 1160px;
    @columnRatio: 0.33;

    #main, header.navbar .navbar-inner .container {
        width: @appWidth;
    }

    header.navbar {
        height: 55px;

        .home {
            width: 44px;
            height: 44px;
            background-size: 44px;
        }

        .brand {
            height: 33px;
            padding-left: 2.5%;
            font-size: 2.2em;
            background-size: auto 55px;
        }

        .icons {
            margin-top: 12px;
        }
    }

    #main {
        height: 660px;
        padding: 25px 25px;
        //margin-top: 52px;

        #left-column {
            width: 382px;

            .nav-tabs li a {
                padding: 6% 20%;
            }

            .tab-content {
                height: 570px;
            }

            #budget-allocator {
                // #budget-overview .top .spent {
                //     left: 63%;
                //     }
                .categories {
                    margin-bottom: 16px;
                }
                .category {
                    height: 56px;
                }
                .category .info-icon {
                    right:3.5%;
                    top:46%;
                    width:45px;
                    height: 45px;
                }

                .category.defence .info-icon {
                    background-size: 46px;
                }

                .category.publicEducation .info-icon {
                    background-size: 44px;
                }

                .category.privateEducation .info-icon {
                    background-size: 44px;
                }

                .category.immigration .info-icon {
                    background-size: 36px;
                    top:30%;
                }

                .category.foreignAid .info-icon {
                    background-size: 34px;
                    top:33%;
                }

                .category.industryAssistance .info-icon {
                    background-size: 34px;
                    top:33%;
                }

                .privacy-help {
                    margin: 16px 0 0;
                }
            }

            .bar {
                background-size: 344px 30px;
            }

            #other-budgets-pane {
                hr {
                    width: 381px;
                    margin-left: -19px;
                }

                .color-bar {
                    width: 220px;
                }

                .btn.no {
                    margin-bottom: 13px;
                }

                .other-budgets {
                    max-height: 443px;
                }
            }

            #save-budget-pane .budget-description-wrapper textarea {
                height: 130px;
            }

        }

        #right-column {
            width: round((@appWidth * (1 - @columnRatio)) - 20px);

            #visualisation {
                height: 345px;
                background-image: url(../img/scale-lge.png);
            }
            #more-info {
                font-size: 110%;
            }
        }
    }
}