[submodule "web/vendor/bootstrap"]
	path = web/vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "web/vendor/less"]
	path = web/vendor/less
	url = git://github.com/cloudhead/less.js.git
[submodule "web/vendor/backbone"]
	path = web/vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "web/vendor/underscore"]
	path = web/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "web/vendor/jquery-ui-bootstrap"]
	path = web/vendor/jquery-ui-bootstrap
	url = git://github.com/addyosmani/jquery-ui-bootstrap.git
[submodule "web/vendor/LESS-CSS-Shapes-Library"]
	path = web/vendor/LESS-CSS-Shapes-Library
	url = git://github.com/NathanStrutz/LESS-CSS-Shapes-Library.git
[submodule "tests/lib/jasmine-jquery"]
	path = tests/lib/jasmine-jquery
	url = git://github.com/velesin/jasmine-jquery.git
[submodule "tests/lib/phantom-jasmine"]
	path = tests/lib/phantom-jasmine
	url = git://github.com/jcarver989/phantom-jasmine.git
[submodule "web/vendor/JSON-js"]
	path = web/vendor/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "web/vendor/jquery-ui-touch-punch"]
	path = web/vendor/jquery-ui-touch-punch
	url = git://github.com/furf/jquery-ui-touch-punch.git
[submodule "web/vendor/jStorage"]
	path = web/vendor/jStorage
	url = git://github.com/andris9/jStorage.git
[submodule "web/vendor/ZeroClipboard"]
	path = web/vendor/ZeroClipboard
	url = git://github.com/jonrohan/ZeroClipboard.git
[submodule "web/vendor/jquery-mousewheel"]
	path = web/vendor/jquery-mousewheel
	url = git://github.com/cobbweb/jquery-mousewheel.git
[submodule "web/vendor/color-js"]
	path = web/vendor/color-js
	url = git://github.com/brehaut/color-js.git
[submodule "tests/lib/jasmine-sinon"]
	path = tests/lib/jasmine-sinon
	url = git://github.com/froots/jasmine-sinon.git
[submodule "web/vendor/accounting.js"]
	path = web/vendor/accounting.js
	url = git://github.com/josscrowcroft/accounting.js.git
