<div class="{{ id }}">
	<div class="left">
	<p>Defence Minister Stephen Smith showed a nice touch with euphemism in his overview of his department&rsquo;s Budget this year. Defence, he said, would make &#8220;contributions&#8221; to the government&rsquo;s &#8220;broader fiscal strategy [of] $971 million in 2012-13&#8221;.</p><p>

Put more plainly, military spending was being heavily pruned as the government cut costs to deliver on its promise of a surplus budget. Over the forward estimates — the three years beyond this one — the total &#8220;contribution&#8221; was predicted to be $5.454 billion.</p><p>

Still, Australia&rsquo;s war machine remains pretty well-oiled; its total Budget for this year is $24.1 billion.</p><p>

This includes an additional $1.3 billion to fund operations in Afghanistan and the Middle East this year, on top of previously approved funding of $439 million. Over the past three years, opinion polls have consistently shown a majority of Australians want out of Afghanistan. Put plainly, the government has continued to spend billions of dollars on a military campaign which most people oppose. But the numbers show we are at last disengaging.</p><p>

Then there was another $130 million for peacekeeping operations in East Timor and the Solomon Islands. Not to mention $9.5 million in 2012‑13 for  &#8220;Operation Resolute” — as they call the military contribution to dealing with boat people, that will surely blow out given the increased arrival numbers. Also among the spending priorities for the year:  $100 million additional investment in &#8220;sustainment&#8221; of the trouble-plagued Collins Class submarines;  $89 million for information technology &#8220;remediation activities&#8221;; and another $89 million for general Navy &#8220;fleet sustainment&#8221;.</p><p>

Against this were cost savings, noted in the forward estimates from the cancellation or deferral of various spending items, the largest being  $900 million from a two-year delay in acquiring 12 new F35 joint strike fighters from America, whose development is, in any case, delayed.</p>
</div>
<div class="right">
	<img src="{{ app.config.assetHost }}/img/graphic-defence.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/at-sea-on-military-awards/122/" target="_blank"><img src="http://cdn.theglobalmail.org/cache/e0/1f/e01f3c177d87881dd7c578dd332e881d.jpg">
			At Sea On Military Awards</a>
		</div>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/belated-medals-tarnish-the-true-valour-of-the-sandakan-diggers/80/" target="_blank"><img src="http://cdn.theglobalmail.org/cache/c6/71/c671e497595064970dcf7bf767864f28.jpg">
			Belated Medals Tarnish The True Valour of the Sandakan Diggers</a>
		</div>
	</div>
</div>
</div>