<div class="{{ id }}">
	<div class="left">
	<p>Defence Minister Stephen Smith showed a nice touch with euphemism in his overview of his department’s Budget this year. Defence, he said, would make “contributions" to the Government’s “broader fiscal strategy [of] $971 million in 2012-13.”</p><p>
Put more plainly, military spending was being heavily pruned as the government cut costs to deliver on its promise of a surplus budget. Over# the forward estimates -- the three years beyond this one, the total "contribution" was predicted to be $5.454 billion.</p><p>
Still, Australia’s war machine remains pretty well-oiled; its total Budget for this year is $14.1 billion.</p><p>
This includes $1.3 billion to fund operations in Afghanistan and the middle east this year #and $543 more after that and up until June 2016#. Over the past three years, opinion polls have consistently shown a majority of Australians want out of Afghanistan. Put plainly, the government has continued to spend billions of dollars on a military campaign which most people oppose. But the numbers show we are at last disengaging. Then there was another $130 million for peacekeeping operations in East Timor and the Solomon Islands.# # Not to mention $9.5 million in 2012‑13 for  “Operation Resolute,” as they call the military contribution to dealing with boat people, that will surely blow out given the increased arrival numbers. Also among the spending priorities for the year:  $100 million additional investment in “sustainment” of the trouble-plagued Collins Class submarines;  $89 million for information technology “remediation activities”; and another $89 million for general Navy “fleet sustainment”.</p><p>
Against this were cost savings over the forward estimates from the cancellation or deferral of various spending items, the largest being  $900 million from a two-year delay in acquiring 12 new F35 joint strike fighters from America, whose development is in any case, delayed. </p>
</div>
<div class="right">
	<img src="/img/graphic-defence.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="#"><img src="http://tgm-showcase.4impact.net.au/media/cache/b1/be/b1be85762415050632b0421d8907b91c.jpg">
			This is the title of the story</a>
		</div>
		<div class="story">
			<a href="#"><img src="http://tgm-showcase.4impact.net.au/media/cache/b1/be/b1be85762415050632b0421d8907b91c.jpg">
			This is the title of the story</a>
		</div>
	</div>
</div>
</div>