<div class="{{ id }}">
	<div class="left">
	<p>The federal government will spend $5.2 billion on overseas aid for 2012-13, which equals about 1.38 per cent of the total budget, or 0.35 per cent of gross national income (GNI) — the measure normally used to compare aid allocations between countries.</p><p>

The government deferred by one year its commitment to increase the aid budget to 0.5 per cent of GNI; it was to have happened by 2015-16, but now is the target for the following financial year. This change — one of a raft of penny-pinching measures implemented so Wayne Swan could claim to have achieved a (tissue-thin) budget surplus — saved the government $2.9 billion over four years.</p><p>

This was the second time this government has broken its promise to increase the GNI share of aid. In 2009-10, it promised 0.4 per cent by this year.</p><p>

Nonetheless, the amount devoted to aid has increased significantly over the past decade, under both this government and the previous Howard government. In 2003-4 the aid budget was just 0.25 per cent of GNI.</p><p>

Foreign aid, apart from its humanitarian value, is also seen as a means of exercising ‘soft power’ in the world and particularly in our region. On the other hand, the accepted political wisdom is that there are few if any votes in aid.</p>
</div>
<div class="right">
	<img src="/img/graphic-foreign.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/like-if-you-want-to-end-global-poverty/403/" target="_blank"><img src="http://media3.theglobalmail.org/cache/88/44/8844d6f37fa56c0b2e104c996b419638.jpg">“Like” If You Want To End Global Poverty</a>
		</div>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/east-timors-road-to-riches-or-ruin/135/" target="_blank"><img src="http://media3.theglobalmail.org/cache/f4/ba/f4bac1921426200d6f05bae88aa929bf.jpg">East Timor’s Road: To Riches Or Ruin?</a>
		</div>
	</div>
</div>
</div>