<div class="{{ id }}">
	<div class="left">
	<p>The May budget provided some $2.7 billion for Immigration. That included$974 million to go towards “operational costs associated with the care and management of irregular maritime arrivals”,# or in plain language, spending on asylum seekers coming by boat.</p><p>
Since the Budget, however, the government has adopted the recommendations of its expert panel on asylum seekers.
</p><p>
The panel estimated the cost of their proposals, which include offshore detention and processing on Manus Island and Nauru, an increase in the numbers coming under the Humanitarian program and family migration program, as well as other lesser measures, at around $4.4 billion over four years, with perhaps $1.5 of that being incurred in the first year.# The report reckoned Nauru would cost $1.2 to $1.4 billion and Manus would be $900 million. But the numbers are very rubbery – a January estimate by the department figured $2 billion for Nauru alone. They# estimates also assumed the new policy would stop people coming by boat.</p><p>
If it fails in that aim, and they keep coming at anything like the current rate of about 1300 a month since April, the expert panel warned it would cost “a significantly larger amount.”</p><p>
In other words, if the changes to the asylum policy work, they will almost treble the cost of dealing with boat arrivals, and if they don’t work, they will increase it much more.</p><p>
#Other facts to bear in mind while budgeting for asylum seekers: historically 70 to 90 per cent of them are ultimately determined to be genuine refugees, meaning they are allowed to stay in Australia; and most come from Iraq or Afghanistan where wars in which we are or were involved have contributed to the problem.</p>
</div>
<div class="right">
	<img src="/img/graphic-immigration.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="#"><img src="http://tgm-staging.4impact.net.au/media/cache/b1/be/b1be85762415050632b0421d8907b91c.jpg">
			This is the title of the story</a>
		</div>
		<div class="story">
			<a href="#"><img src="http://tgm-staging.4impact.net.au/media/cache/b1/be/b1be85762415050632b0421d8907b91c.jpg">
			This is the title of the story</a>
		</div>
	</div>
</div>
</div>