<div class="{{ id }}">
	<div class="left">
	<p>The May budget provided some $2.7 billion for Immigration. That included $974 million to go towards &#8220;operational costs associated with the care and management of irregular maritime arrivals&#8221;, or, in plain language, spending on asylum seekers coming by boat.</p><p>

Since the Budget, however, the government has adopted the recommendations of its expert panel on asylum seekers.</p><p>

The panel estimated the cost of their proposals, which include offshore detention and processing on Manus Island and Nauru, an increase in the numbers coming under the humanitarian program and family migration program, as well as other lesser measures, at around $4.5 billion over four years, with perhaps $1.5 billion of that being incurred in the first year. The report reckoned Nauru would cost $1.2 billion to $1.4 billion and Manus would be $900 million. But the numbers are very rubbery — a January estimate by the department figured $2 billion for Nauru alone. The estimate also assumed the new policy would stop people coming by boat.</p><p>

If it fails in that aim, and they keep coming at anything like the current rate of about 1,300 a month since April, the expert panel warned it would cost &#8220;a significantly larger amount&#8221;.</p><p>

In other words, if the changes to the asylum policy work, they will almost treble the cost of dealing with boat arrivals, and if they don&rsquo;t work, they will increase it much more.</p><p>

Other facts to bear in mind while budgeting for asylum seekers: historically 70 to 97 per cent of them are ultimately determined to be genuine refugees, meaning they are allowed to stay in Australia; and most come from Iraq or Afghanistan, where wars in which we are or were involved have contributed to the problem.</p>
</div>
<div class="right">
	<img src="/img/graphic-immigration.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/could-a-picture-be-their-passport/400/" target="_blank"><img src="http://media3.theglobalmail.org/cache/03/41/034167d37fe2bef11dc3aaeb1bbb1ebd.jpg">Could A Picture Be Their Passport?</a>
		</div>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/you-heard-were-stopping-the-boats-you-heard-wrong/335/" target="_blank"><img src="http://media3.theglobalmail.org/cache/49/2e/492e779a02b2c1fb8e9ffb3d3ff8be92.jpg">
			You Heard We’re Stopping the Boats? You Heard Wrong.</a>
		</div>
	</div>
</div>
</div>