<div class="{{ id }}">
	<div class="left">
	<p>Roughly 34 per cent of Australian school students go to non-government schools. Catholic schools educate 20 per cent of all students and independent schools educate 14 per cent.</p><p>

Australia&rsquo;s education system is unusual in both the size of its non-government sector and the size of government subsidies given to it.</p><p>

It is also unusual, according to the Gonski report on school funding, in the size of the achievement gap between its best and worst performing students, which is greater than that in almost any other developed country, &#8220;particularly those with high-performing schooling systems&#8221;. Much of this is attributable to resourcing, according to Gonski.</p><p>

Not all non-government schools are well-resourced, but on average, the independent schools spend much more on each student than do either state or Catholic schools. According to Gonski, the average net recurrent income per student in 2009 was $11,121 for the government sector, $10,002 for the Catholic sector, and $13,667 for the independent sector.</p><p>

Average capital investment per student is $2,500 for independent schools, just under $1,500 for Catholic schools, and less than $900 for state schools.</p><p>

But the federal government continues to spend disproportionately on non-government — particularly on wealthy, independent — schools. The report noted, for example, that of the big government stimulus spending contained in Building the Education Revolution National Partnership, 51 per cent of the money went to non-government schools.</p><p>

This year the federal government has budgeted $8.3 billion for non-government schools.</p>
</div>
<div class="right">
	<img src="/img/graphic-private-ed.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/testing-the-teachers/119/" target="_blank"><img src="http://media3.theglobalmail.org/cache/7e/35/7e354468654a02cc4dc5f241905f1686.jpg">
			Testing The Teachers</a>
		</div>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/dont-mention-the-class-war/72/" target="_blank"><img src="http://media3.theglobalmail.org/cache/46/f5/46f52476905b79f37d13d7c7e652497a.jpg">
			Don’t Mention The Class War</a>
		</div>
	</div>
</div>
</div>