<div class="{{ id }}">
	<div class="left">
	<p>Public schools still educate about 66 per cent of children in Australia.</p><p>

More importantly, as the 2012 Gonski report into education funding noted, they educate almost 80 per cent of kids in the lowest quarter of socio-educational advantage, about 85 per cent of indigenous students, and 78 per cent of students with a disability.</p><p>

Put another way, 36 per cent of all the children in state schools come from the most educationally deprived backgrounds, six per cent are indigenous and 5.9 per cent have a disability.</p><p>

As indicated by the name “state schools”, 86 per cent of their recurrent government funding comes from the states, and just 15 per cent from the federal government. (In comparison, Catholic and independent schools get 74 and 73 per cent, respectively, from the feds.)</p><p>

In terms of both recurrent and capital spending, the federal education budget is heavily skewed to supporting non-government schools. This year&rsquo;s budget allocated more than three times as much money, per student, to non-government schools.</p><p>

But Australian spending on schools is low at all levels of government, in comparison with most developed countries — about three per cent of GDP, compared with an OECD average of 3.5 per cent.</p>
</div>
<div class="right">
	<img src="{{ app.config.assetHost }}/img/graphic-public-ed.png">
	<div class="related">
		<h3>Related stories</h3>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/testing-the-teachers/119/" target="_blank"><img src="http://cdn.theglobalmail.org/cache/7e/35/7e354468654a02cc4dc5f241905f1686.jpg">
			Testing The Teachers</a>
		</div>
		<div class="story">
			<a href="http://www.theglobalmail.org/feature/dont-mention-the-class-war/72/" target="_blank"><img src="http://cdn.theglobalmail.org/cache/46/f5/46f52476905b79f37d13d7c7e652497a.jpg">
			Don’t Mention The Class War</a>
		</div>
	</div>
</div>
</div>