<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Includes $1.3 billion to fund operations in Afghanistan and the Middle East, on top of previously approved funding of $439 million.</li>
    	<li>Also includes $971 million savings from deferring or cancelling low-priority projects, cutting 1,000 civilian jobs, and other measures.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$24.1B</span>
    </div>
</div>