<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Incl. $1.3b to fund operations in Afghanistan and Middle East and a further $543m over three years as forces are drawn down.</li>
    	<li>$971m savings from deferring or cancelling low-priority projects, cutting 1,000 civilian jobs and other measures.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$24.1B</span>
    </div>
</div>