<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Australia’s spending on foreign aid has increased 40 per cent in real terms over a decade.</li>
    	<li>But it still amounts to only about 1.5 per cent of the budget and the government has backslid on promises to increase it further.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$5.2B</span>
    </div>
</div>