<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>The cost of dealing with boat people amounted to only about 0.25 per cent of this year&rsquo;s federal budget.</li>
    	<li>But increased arrival numbers have blown out the budget, and the shift to offshore detention and processing will multiply the cost.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$2.7B</span>
    </div>
</div>