<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>The government will subsidise fuel used in some industries to the tune of $5.6 billion. About 40 per cent will go to miners.</li>
    	<li>Another $360 million will be spent subsidising ethanol production and a dubious carbon capture and storage program.
</li>
    </ul>
    </div>
    <div class="number">
    	Subsidising Carbon
    	<span class="total">$6B</span>
    </div>
</div>