<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Get the lion’s share of federal funding.</li>
    	<li>The richest schools would get proportionally less money under recommended funding changes.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$8.3B</span>
    </div>
</div>