<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Gets the lion&rsquo;s share of federal money spent on primary and secondary education.</li>
    	<li>The richest schools would get proportionally less money under funding changes recommended by the 2012 Gonski report.</li>
    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$8.3B</span>
    </div>
</div>