<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Include the vast majority of disadvantaged, aboriginal and disabled students.</li>
    	<li>Get slightly more than a quarter of the per capita federal funding of non government schools.</li>

    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$4.95B</span>
    </div>
</div>