<div class="{{ id }}">
	<div class="list">
    <ul>
    	<li>Includes the vast majority of disadvantaged, Aboriginal and disabled students.</li>
    	<li>Gets slightly more than a quarter of the per capita federal funding provided to non-government schools.</li>

    </ul>
    </div>
    <div class="number">
    	2012-13 budget
    	<span class="total">$4.95B</span>
    </div>
</div>