<div class="modal fade hide about-tool" id="about-tool-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-bypass="">&times;</button>
        <h2>About this tool</h2>
    </div>

    <div class="modal-body">
    	<div class="left">
    		<h3>Our Figures:</h3>
    		<p>While we have endeavoured to be as accurate as possible, all figures should be used as a guide only as they are estimates and in many cases have been rounded.  TGM does not recommend using this tool for any real-life calculations.</p><p>

			And if you are wondering why the tax on your income comes up as less than you owed, that's because we've adjusted the taxes you pay to reflect the same proportion of the federal budget that the government spends on these six key areas – about 14 per cent.</p><p>

			And just one final reminder – this tool is designed for entertainment, NOT as a tax calculator, and as such shouldn’t be used for your personal tax return. The Australian Tax Office will probably be suspicious if you submit Federal Budget estimates as your personal income…</p>
    	</div>

    	<div class="right">
    		<h3>Credits:</h3>
    		<p>Design and Development by TGM Development Team.</p>
    		<ul>
			<li>Project Managers: Ben Fogarty and Michael Stranges</li>
			<li>Design: Michael Lai and Jamie Ferguson</li>
			<li>Development:  Andrew Cobby and B.J. Rossiter</li>
			<li>Additional Research by Yash Pandya, Michael Safi, Hugh Robertson, Madeleine Smitham and Stuart Marsh.</li>
			</ul>
			<h3>Additional Sources:</h3>
    		<ul>
			<li><a href="http://budget.gov.au/" target="_blank">Federal Budget 2012-13</a></li>
			<li><a href="http://www.oecd.org/" target="_blank">OECD</a></li>
			<li><a href="http://www.worldbank.org/" target="_blank">World Bank</a></li>
			<li><a href="http://www.deewr.gov.au/Schooling/ReviewofFunding/Documents/Review-of-Funding-for-Schooling-Final-Report-Dec-2011.pdf" target="_blank">Gonski Review of Funding for Schooling (PDF)</a></li>
			<li><a href="http://expertpanelonasylumseekers.dpmc.gov.au/" target="_blank">Expert Panel on Asylum Seekers</a></li>
			</ul>
    	</div>
    </div>
</div>