<div class="modal fade hide about-tool" id="about-tool-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-bypass="">&times;</button>
        <h3>You Spend 2012</h3>
    </div>

    <div class="modal-body">
        <p>Create a budget, because YOLO.</p>
    </div>
</div>