<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
    <head>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <script type="text/javascript" src="//use.typekit.net/pyz3jsr.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Your Federal Budget 2012</title>

        {% include 'less.twig' %}
    </head>
    <body>
        <div id="app-loading"></div>

        <header class="navbar navbar-inverse navbar-fixed-top">
            {% include 'header.twig' %}
        </header>

        <div id="main" class="container">
            <div id="left-column">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <div class="border-top"></div>
                        <a href="/">Create your budget</a>
                    </li>
                    <li>
                        <div class="border-top"></div>
                        <a href="/budgets">Saved Budgets <small class="count">({{ app.budgets.getBudgetCount }})</small></a>
                    </li>
                </ul>

                <div class="tab-content" id="sidepane-wrapper">
                    <div>
                        {% include 'sidepanes/budget-allocator.twig' %}
                        {% include 'sidepanes/save-budget.twig' %}
                        {% include 'sidepanes/share-budget.twig' %}
                        {% include 'sidepanes/other-budgets.twig' %}
                    </div>
                </div>
            </div>

            <div id="right-column">
                <div id="budget-info">
                    <div class="top">
                        <h1>Your budget</h1>

                        <ul class="legend">
                            <li class="you">
                                <div class="square"></div> You
                            </li>

                            <li class="average">
                                <div class="square dots"></div> Reader Avg.
                            </li>

                            <li class="federal">
                                <div class="square lines"></div> Federal Budget
                            </li>
                        </ul>
                    </div>

                    <div class="bottom">
                        <a href="javascript:void(0)" class="about"><i class="icon-info-sign"></i> About this budget</a>
                        <time>Created Friday 21st September, 2012</time>

                        <div class="budget-description-tooltip hide">
                            <a href="#" class="close">&times;</a>
                            <div class="budget-description"></div>
                            <div class="name-state">
                                <span class="budget-name"></span> from <span class="budget-state"></span>
                                <a href="#" class="flag-abuse pull-right">Flag Abuse</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="visualisation"></div>

                <div id="bar-categories">
                    {% for key, category in app.config.categories %}
                        <div class="category {{key}}" data-id="{{key}}">{{category.label}}</div>
                    {% endfor %}
                </div>

                <div id="more-info">
                    <h2 class="title"></h2>
                    <div class="info"></div>
                    <div class="modal extended-info hide fade" tabindex="-1" role="dialog" aria-labelledby="extended-info-title" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="extended-info-title" class="title">Modal header</h3>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        {% include 'email-page-form.twig' %}

        {% include 'javascript.twig' %}

    </body>
</html>