<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
    <head>
        <title>Your Federal Budget 2012</title>

        {% include 'less.twig' %}
    </head>
    <body>
        <header class="navbar">
            {% include 'header.twig' %}
        </header>

        <div id="main" class="container">
            <div id="left-column">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <div class="border-top"></div>
                        <a href="#budget-allocator-tab" data-toggle="tab">Create your budget</a>
                    </li>
                    <li>
                        <div class="border-top"></div>
                        <a href="#other-budgets-tab" data-toggle="tab">From other readers</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="budget-allocator-tab" class="tab-pane active fade in">
                        {% include 'tabs/create-your-budget.twig' %}
                    </div>

                    <div id="other-budgets-tab" class="tab-pane fade">
                        Other budgets
                    </div>
                </div>
            </div>

            <div id="right-column">
                <div id="visualisation"></div>
                <div id="more-info">
                    <h2 class="title"></h2>
                    <div class="info"></div>
                    <div class="modal extended-info hide fade" tabindex="-1" role="dialog" aria-labelledby="extended-info-title" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="extended-info-title" class="title">Modal header</h3>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        {% include 'email-page-form.twig' %}

        {% include 'javascript.twig' %}

    </body>
</html>