<!DOCTYPE html>
<html>
    <head>
        <title>Your Federal Budget 2012</title>

        {% include 'less.twig' %}
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">How to spend 364 billion dollars</a>
                </div>
            </div>
        </header>

        <div id="main" class="container">
            <div id="left-column">
                <div id="budget-allocator">
                    <div class="categories">
                        {% for key, category in app.config.categories %}
                            {% include 'slider-box.twig' with { 'id': key, 'label': category.label, 'federalAllocation': category.federalAllocation } %}
                        {% endfor %}

                        <div id="budget-overview">
                            <div class="top">
                                <div class="title">Your Budget</div>
                                <div class="spent">$<span id="budget-total">0</span>b</div>
                            </div>

                            <div class="progress-bar">
                                <div class="progress">
                                    <div class="bar" style="width: 60%"></div>
                                </div>
                            </div>

                            <button class="btn" id="reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-column">
                <div id="visualisation"></div>
                <div id="more-info">
                    <h2 class="title"></h2>
                    <div class="info"></div>
                    <div class="modal extended-info hide fade" tabindex="-1" role="dialog" aria-labelledby="extended-info-title" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="extended-info-title" class="title">Modal header</h3>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        {% include 'javascript.twig' %}
    </body>
</html>