<!DOCTYPE html>
<html>
    <head>
        <title>Your Federal Budget 2012</title>

        {% include 'less.twig' %}
    </head>
    <body>
        <header class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand">How to spend 364 billion dollars</a>
                </div>
            </div>
        </header>

        <div id="main" class="container">
            <div id="left-column">
                <div id="budget-allocator">
                    <div class="categories">
                        {% for key, category in app.config.categories %}
                            {% include 'slider-box.twig' with { 'id': key, 'label': category.label, 'federalAllocation': category.federalAllocation } %}
                        {% endfor %}

                        <div id="budget-overview">
                            <div class="title">Your Budget</div>
                            <div class="spent">$<span id="budget-total">0</span>b</div>
                            <div class="progress-bar">
                                <div class="progress">
                                    <div class="bar" style="width: 60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-column">
                <div id="visualisation">Graph</div>
                <div id="information">More Info</div>
            </div>
        </div>

        {% include 'javascript.twig' %}
    </body>
</html>