<div class="modal hide fade intro" id="intro-modal">
    <div class="modal-body">
        <h1>How would you spend your tax dollars?</h1>

        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
            Start your budget <div class="pull-right">&gt;</div>
        </button>
    </div>
</div>