<div class="modal hide fade intro" id="intro-modal">
    <div class="modal-body">
    	<div class="left">
    	<h1>How would you spend your tax dollars?</h1>
    	<img class="author" src="/img/author-mikeseccome.png">
    	<h3 class="story-detail-byline"><em>By</em> <a href="/reporters/mike-seccombe/1/">Mike Seccombe</a><span class="date"><img src="/img/ico-date.png" width="15" height="15" style="padding-right: 8px; padding-bottom: 4px">October 11, 2012</span>

             </h3>
        </div>
        <div class="right">
        	<p>Ever wondered exactly how much of your tax is spent in particular areas? We’ve chosen six of the most controversial funding areas to highlight what the government spends, and to let you tell us how those dollars should be distributed.</p>
        	<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">
            Start your budget <div class="pull-right">&gt;</div>
        </button>
        </div>
        
    </div>
</div>