<div class="category {{ id }}" data-id="{{ id }}">
    <div class="top">
        <div class="title">{{ label }}<div class="slider-amount">$0b</div></div>
        <div class="info-icon"></div>
    </div>

    <div>
        <div class="slider">
            <div class="slider-control"></div>
        </div>
    </div>
</div>