<div class="category {{ id }}" data-id="{{ id }}">
    <div class="top">
        <div class="title"><i class="icon-{{ id }}"></i>{{ label }}</div>
        <div class="info-icon"><i class="icon-info-sign"></i></div>
    </div>

    <div class="expander">
        <div class="slider">
            <div class="slider-control"></div>
        </div>
    </div>
</div>