<div id="budget-allocator" class="sidepane" data-tab="0">
    <div id="budget-overview">
        <div class="top">
            <div class="control-label"><span>1</span> Choose amount to calculate:</div>
            <div class="toggle">Toggle goes here</div>
            <div class="title">Available Tax Dollars</div>
            <div class="spent">$<span id="budget-total">0</span>b</div>
        </div>

        <div class="progress-bar">
            <div class="progress">
                <div class="bar" style="width: 60%"></div>
            </div>
        </div>
    </div>

    <div class="categories">
        <div class="control-label"><span>2</span> Move sliders to set funding amount:</div>
        {% for key, category in app.config.categories %}
            {% include 'slider-box.twig' with { 'id': key, 'label': category.label, 'federalAllocation': category.federalAllocation } %}
        {% endfor %}
    </div>

    <div class="actions">
        <button class="btn btn-link reset-budget-btn"><i class="icon-repeat"></i> Reset</button>
        <a href="" class="btn btn-success pull-right save-budget-btn"><i class="icon-ok"></i> <span>Save &amp; Share</span></a>
    </div>
</div>