<div id="other-budgets-pane" class="sidepane hide" data-tab="1">
    <h3>View how other readers have chosen to spend their tax dollars:</h3>

    <div class="your-budget">
        <a href="/" class="btn">Create your own budget</a>
    </div>

    <hr>

    <div class="other-budgets">
        <div class="other-budgets-inner"></div>
        <div class="loading-more"></div>
    </div>
</div>