<div id="other-budgets-pane" class="sidepane hide" data-tab="1">
    <h3>View how other readers have chosen to spend their tax dollars:</h3>

    <div class="your-budget other-budget-template">
        <div class="top">
            <span class="name"></span>
            <small class="state"></small>
            <time></time>
        </div>

        <div class="bottom">
            <div class="color-bar"></div>
            <div class="share"></div>
        </div>
    </div>
</div>