<div id="save-budget-pane" class="sidepane hide" data-tab="0">
    <h3>Save your budget</h3>

    <form action="#" id="save-budget-form">
        <div class="control-group your-name-wrapper">
            <label class="control-label">
                Your Name and State
                <small class="help-block">This is how you name your budget ie. ‘John’s Budget - NSW’.</small>
                <div class="controls">
                    <input type="text" name="yourName" placeholder="Your firstname">
                    <select name="yourState">
                        {% for key, value in app.config.frontend.states %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </label>
        </div>

        <div class="control-group your-email-wrapper">
            <label class="control-label">
                Your Email Address
                <small class="help-block">A link to your budget will be sent here. Your email address will not be displayed publicly.</small>
                <div class="controls">
                    <input type="email" name="yourEmail" placeholder="Your email">
                </div>
            </label>
        </div>

        <div class="control-group budget-description-wrapper">
            <label class="control-label">
                Describe Your Budget <em>(Optional)</em>
                <small class="help-block">Will be displayed with your budget.</small>
                <div class="controls">
                    <textarea name="budgetDescription" placeholder="Why you created it the way you did"></textarea>
                </div>
            </label>
        </div>

        <div class="control-group subscribe-wrapper">
            <label class="control-label light">
                <input type="checkbox" name="subscribe"> Subscribe to The Global Mail newsletter
            </label>
        </div>

        <hr>

        <div class="control-group buttons">
            <button type="reset" class="btn btn-link" id="cancel-save-budget">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submit-save-budget" formnovalidate>Save</button>

            <div class="help-block">
                You'll be able to share your budget after saving.
            </div>
        </div>
    </form>
</div>