<div id="share-budget-pane" class="sidepane hide" data-tab="0">
    <h1><span class="budget-name"></span>, thanks for creating your budget!</h1>

    <h3>Share It</h3>
    <p>Use this link to share your budget. You have also been sent an email with this link it.</p>

    <div class="copy-budget-url-wrapper">
        <input type="url" name="budget-url" class="budget-url" readonly>
        <div class="btn-wrapper" id="share-budget-copy-url-wrapper">
            <button class="copy-budget-url btn btn-primary" id="share-budget-copy-url-btn">Copy Link</button>
        </div>

        <div class="addthis_toolbox addthis_default_style addthis_32x32_style share-buttons" addthis:url="" addthis:title="">
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_email"></a>
            <img src="/img/google_plusone.png" class="googleplusone">
        </div>

        <hr>

        <a href="/budgets" class="btn btn-primary btn-block">View Your Saved Budget</a>
        <p>You can edit your budget at any point.</p>
    </div>
</div>